@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Shippori+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=Mochiy+Pop+One&family=Shippori+Antique&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/* 	border:solid 1px red; */
}
.navbar{
	 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加下陰影 */
	font-family:"Dela Gothic One", sans-serif;
	position:fixed;
  color:#333;
  font-size:15px;
  background-color:rgba(255, 255, 255, 0.5);
  backdrop-filter:blur(10px);
  z-index:10;
    
  &::before {
   content:unset;
    }

  @supports (background: -moz-element(#bg)) {
   &::before {
     content:"";
     position:absolute;
     top:0;
     right:0;
     bottom:0;
     left:0;
     background:-moz-element(#bg) no-repeat;
     filter:blur(10px);
		 z-index:5;
}
	}
}
.navbar-brand{
	color:#08192D;
}
.hi{
	background-color: #DCD9D4;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 background-blend-mode: soft-light,screen;;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hi-text {
	width:10em;
	text-align:center;
	font-family:"Dela Gothic One", sans-serif;
  font-size: 48px;
  color:#08192D;
	overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid orange;
  animation: typing 4s steps(20, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 10em }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #006284; }
}
section{
	color:#08192D;
	padding-top:80px;
	font-family:"Mochiy Pop One", sans-serif;
	p{
		font-family:"IBM Plex Sans JP", sans-serif;
}
	h1{
		text-align:center;
		margin-bottom:30px;
		}
	}
.zi_box_1 {
		border: 1px solid #08192D;;/* 框線顏色 */
		border-radius: 4px;
		margin: 2em 0;
		padding: 20px;
		position: relative;
	}
section#s1{
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	padding-bottom:50px;
	p{
		padding-left:150px;
		padding-top:20px;
	}
	h4{
		text-align:center;
		padding-top:50px;
	}
}
section#s2{
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	padding-bottom:50px;
}
section#s3{
	background-color: #DCD9D4;
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 background-blend-mode: soft-light,screen;
	padding-bottom:50px;
}
.contact{
	padding-top:50px;
	 white-space:nowrap;
	i{
		 line-height:50px
	}
}
.avatar-frame{
  width: 200px;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	background-color: #eee; /* 可以做為預設的顏色 */
	background-image: url("https://github.com/monica1102/image/blob/main/Me.png?raw=true");
	background-size: cover;
	background-position: top;
}
.aos {
  opacity: 0;
  transition: all 1s;
}
.aos.ed {
  opacity: 1;
}
.slideIn {
  transform: translateY(3em);
}
.slideIn.ed {
  transform: translateY(0em);
}
.container{
	padding-top:80px;
}
.work{
	padding-right:200px;
	padding-left:200px;
	padding-bottom:200px;
}
.google-map{
	position: relative;
  padding-bottom: 45%; /* 此為地圖長寬比 */
  height: 0;
  overflow: hidden;
}
.google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: Crimson;
}
.cursor-follower {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  opacity: 0.75;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 1);
  transition: 0.1s ease-out;
  pointer-events: none;
  will-change: all;
  transform: translate(-50%, -50%);
  padding: 10px;
}